<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="../../lib/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="../../lib/echarts/dist/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="../../lib/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="../../lib/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="../../lib/echarts/dist/extension/bmap.min.js"></script>
       <script type="text/javascript" src="./tree-include.js"></script>
   </body>
</html>